@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

.square {
    float:left;
    position: relative;
    width: 3em;
    height: 3em;
    padding-bottom : 1em; /* = width for a 1:1 aspect ratio */
    margin: 0.5em;
    background-color:rgb(51, 59, 49);
    overflow:hidden;
}

.circled {
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 1.4em;
    height: 1.4em;
    padding: 0;
    background: transparent;
    border: 1px solid black;
    color: black;
}


.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;

}
.center{
    margin-left: auto;
    margin-right: auto;
    display:table;
}
.tab{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.img1{
    background-image: url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
}
.img2{
    background-image: url('https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg');
}
.img3{
    background-image: url('https://farm4.staticflickr.com/3794/13893055574_3df0ab636b.jpg');
}

/*  following just for the demo */


body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: black;
    text-align:center;
    background:transparent;
}
p{
    margin:0;
    padding:0;
    text-align:left;
}

.numbers{
    font-weight:900;
    font-size:100px;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;

    border-radius: 5px;
}

#bottom a:hover{
    background:#ECECEC;
    border:1px solid #fff;
}

/* Arrows */

.triple_arrow::before{
    content: "⇶";
 }

 .double_arrow::before{
    content: "⇉";
 }

 .single_arrow::before{
    content: "→";
 }

 .over_arrow::before{
    content: "⇴";
 }

  /*  Rotations */
.rotate_right {
    transform: rotate(90deg);
}
.rotate_left {
    transform: rotate(-90deg);
}

/* Diagram table */

tr{
    height: 50px;
}

td{
    width: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

td.hidden{
    border-style: hidden;
}
/*  Techniques */

.double_blow_bend {
    background-color: #d32f20
}

.blow_bend {
    background-color: #d32f2f
}

.blow {
    background-color: #d3422f
}

.overblow {
    background-color: orange
}

.draw {
    background-color:#97b8fe
}

.draw_bend {
    background-color: #5791fd
}

.double_draw_bend {
    background-color: #397afd
}

.triple_draw_bend {
    background-color: #216afc
}

.overdraw {
    background-color: mediumorchid
}

.hole_number {
    background-color: white;
    font-weight: bold;
    border-width: 2px;
}
